.doctoricon,
.therapist,
.trainericon {
    width: 60px;
}

.dctr-book {
    display: flex;
    justify-content: space-around;
    border: 1px solid #d1d1d1;
    box-shadow: rgb(99 99 99 / 14%) 0px 2px 8px 0px;
    align-items: center;
    padding-left: 1.5rem;
    background: #fff;
    padding-right: 1.5rem;
    height: 9.9em;
    width: 70%;
    border-radius: 10px;
}
.dct-txt h1{
    text-align: center;
    font-size: 20px;
}

.bookdoctor {
    margin: 3rem auto;
    background: #fff;
    max-width: 86%;
    justify-content: center;
    margin-bottom: 6rem;
    padding-bottom: 6rem;
    box-shadow: rgb(159 159 193 / 35%) 0px 0px 50px;
    border-radius: 10px;
}

.book-doctor {
    background-color: #ffffff;
    padding: 20px 35px;
    max-width: 100%;
    border-radius: 10px;
    position: relative;
    box-shadow: rgb(99 99 99 / 8%) 0px 2px 8px 0px;
    /* margin-top: 2.2rem; */
}
.dctrimg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trainnerimgs {
    width: 100px;
    border-radius: 50px;
    height: 100px;
}

.dctr-row {
    padding: 2rem;
    background: #fff;
    width: 85%;
    height: 11.5em;
    margin: 0 auto;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
}
.dctr-des{
    position: relative;
}

.dctr-row::before{
    position: absolute;
    content: "";
    background: #d7d7d7;
    width: 2px;
    height: 120px;
    top: 27px;
    left: 15em;
}

.dctr-des::before {
    position: absolute;
    content: "";
    background: #d7d7d7;
    width: 2px;
    height: 120px;
    top: 10px;
    left: 15em;
}

.speci h4 {
    color: #e06358;
}
