.bldmrks {
    width: 100%;
    background: #fff;
    height: 200vh;
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
        padding-bottom: 6rem;
        box-shadow: rgb(159 159 193 / 55%) 0px 0px 50px;
        border-top-right-radius: 100px !important;
}

.usr-det {
    padding: 4rem;
    margin-bottom: 3rem;
}
.inrtxt {
    font-size: 10px;
}
.user-circle {
    display: flex;
   justify-content: flex-end;
}
.bld-img {
    width: 50%;
    height: auto;
    background: gray;
    border-radius: 50%;
}
.hlthscore {
    display: flex;
    height: 100%;
    margin-top: 5rem;
}

.helt-imgbg {
    background: #90ee90;
    width: 30em;
    height: 30em;
    border-radius: 50%;
}

.bdy-img {
    max-width: 100%;
    height: auto;
    padding: 3rem;
}

.heart-icn {
    width: 60px;
    border: 3px solid #b6b6b6;
    border-radius: 50px;
}

.hlth-items {
    position: relative;
}
.hrt-sectn {
    position: absolute;
    display: flex;
    align-items: center;
    top: -7rem;
    max-width: 235px;
    left: 0rem;
    flex-direction: row-reverse;
}
.chous {
    position: absolute;
    display: flex;
    align-items: center;
    top: 17.5rem;
    left: -11rem;
    max-width: 181px;
    flex-direction: row-reverse;
    right: -5rem;
}
.Vitamin {
    position: absolute;
    display: flex;
    align-items: center;
    top: 1.5rem;
    left: -7rem;
    max-width: 154px;
    flex-direction: row-reverse;
    right: -5rem;
}
.lever {
    position: absolute;
    display: flex;
    align-items: center;
    top: 9rem;
    left: -12rem;
    max-width: 181px;
    flex-direction: row-reverse;
    right: -2rem;
}
.HBA {
    position: absolute;
    display: flex;
    align-items: center;
    top: 25rem;
    width: 133px;
    left: -5rem;
    flex-direction: row-reverse;
    right: 0;
}

/* rigth section */
.right-sect {
    position: relative;
}

.Vitd {
    position: absolute;
    display: flex;
    align-items: center;
    top: -5rem;
    /* padding: 1rem; */
    width: fit-content;
    left: -10rem;
    flex-direction: inherit;
    right: 0;
}
.liver {
    position: absolute;
    display: flex;
    align-items: center;
    top: 2.5rem;
    left: -2em;
    
    width: fit-content;
    flex-direction: row;
    right: -2rem;
}

.tabs {
    display: flex;
    justify-content: space-between;
}
.hrt-txt {
    margin-left: 1rem;
}

.hrt-txt h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.hrt-txt p {
    margin: 0;
}

.hrt-txt {
    width: 14em;
}

.inrtxt {
    color: #fe4343;
    font-size: 12px;
    font-weight: 600;
}

.inrtxt span{
    margin: 0;
    padding: 0;
}

.right-section {
    position: relative;
}

.vita-d {
    position: absolute;
    display: flex;
    align-items: center;
    top: -2rem;
    width: fit-content;
    left: -9rem;
    flex-direction: row;
    right: 0;
}
.liver {
    position: absolute;
    display: flex;
    align-items: center;
    top: 1.5rem;
    left: -2em;
    width: fit-content;
    flex-direction: row;
    right: -2rem;
}
.calo {
    position: absolute;
    display: flex;
    align-items: center;
    top: 10rem;
    left: 1rem;
    width: fit-content;
    flex-direction: row;
    right: -2rem;
}
.iron {
    position: absolute;
    display: flex;
    align-items: center;
    top: 17.5rem;
    left: 0rem;
    width: fit-content;
    flex-direction: row;
    right: -2rem;
}
.comp {
    position: absolute;
    display: flex;
    align-items: center;
    top: 25.5rem;
    left: -4rem;
    width: fit-content;
    flex-direction: row;
    right: 0rem;
}

/* Blood Bio Marker Details */
.txrp {
    font-size: 10px;
    color: rgba(255, 95, 95, 0.79);
}

.rnttxt {
    display: flex;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    max-width: 100%;
}

table td {
    padding: 12px 30px;
    border-bottom: 1px solid #a1a1a1;
}
.thdiv {
    display: flex;
    flex-direction: column;
}

.inf-card {
    width: 100%;
    padding: 1rem;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}
.headerpart h1 {
    font-size: 18px;
}

.information-card {
    width: 33%;
}

.bio-details p {
    font-size: 10px;
}

.table-resp {
    background: #90ee90;
    width: 60%;
}

.bioDet h1 {
    font-family: 'Lato',sans-serif;
}

#row_8_0{
    background: green;
}

#row_10_1 {
    background: #E8B61C;
}
#row_13_1 {
    background-color: red;
    color: white;
}
#row_14_1 {
    background-color: red;
    color: white;
}
.blood-bio-info {
    cursor: pointer;
}

.bio-detail-wrapper {
    box-shadow: rgb(159 159 193 / 55%) 0px 0px 50px;
    border-radius: 10px;
    border-top-right-radius: 100px;
    padding-top: 5rem;
}
/* button */
.inf-ntr {
    padding: 5px;
    background: #a1a1a1;
    color: #fff;
    outline: none;
    border:  1px solid #b6b6b6;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 400;
}

.inf-sym,.inf {
    padding: 5px;
    border: 2px solid #fe5151c9;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    font-weight: 400;
}

.inf-sym:hover,.inf:hover {
    background: #fe4343;
    color: #fff;
    transition: all .3s ease-in-out;
}


/* button dropdown */

