.useavatar {
    border-radius: 50%;
}



/* .score {
    position: absolute;
    left: 59px;
    top: -8px;
    color: #fe1818;
    height: 22px;
    width: 23px;
    display: flex;
    background: #000;
    align-items: center;
    justify-content: center;
} */