.thread-view-comment-wrapper>span {
    background: #E06358;
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
}

.eye-icon,
.chat-icon {
    margin: 0px 5px;
}

.threads-left-section-wrapper {
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0px;
    transition: all 0.15s ease 0s, filter 0.3s ease 0s;
    cursor: pointer;
}

.threads-left-section-wrapper:hover {
    box-shadow: rgb(159 159 193 / 54%) 0px 10px 19px 0px;
    transform: scale(0.98);
}

.trending-questions-wrapper .list-group-item {
    border: none;
}

.blink {
    animation: blinker 1s step-end infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.trending-label {
    color: #FA8072;
}

.threads-left-section-wrapper.p-4.mb-5 a {
    color: #2E86C1;
}

.btn-color {
    background-color: #F7DC6F;
}

.threads-container .search-filter-wrapper .rounded-pill {
    background-color: #ff7777;
    border: 1px solid #ff5151;
}

.search-menu {
    border: 1px solid #FA8072;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 0.9rem 0.9rem;
}

.search-menu-icon {
    background: #ff5151;
    color: #fff;
    border-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 100%;
    width: 60px;
}

.filter-wrapper {
    color: #E06358;
}

.arrow-wrapper {
    margin-left: 40px;
}

.arrow-icon {
    -webkit-animation: bounceRight 2s infinite;
    animation: bounceRight 2s infinite;
    fill: #E06358;
}

/* right bounce */
@-webkit-keyframes bounceRight {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    40% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    60% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }
}

@-moz-keyframes bounceRight {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(-30px);
    }

    60% {
        transform: translateX(-15px);
    }
}

@keyframes bounceRight {

    0%,
    20%,
    50%,
    80%,
    100% {
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    40% {
        -ms-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    60% {
        -ms-transform: translateX(-15px);
        transform: translateX(-15px);
    }
}

/* /right bounce */

.threads-detailed-view-container .card {
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0px;
}

.card-header,
.btn-blue {
    background-color: #7FB3D5;
}

.btn-green {
    background: #7DCEA0;
    border-color: #7DCEA0;
}

.btn-green:hover {
    box-shadow: rgb(159 159 193 / 54%) 0px 10px 19px 0px;
    background: #7DCEA0;
    border-color: #7DCEA0;
    transform: scale(1.1);
}

.btn-blue,
.btn-green {
    transition: all 0.15s ease 0s, filter 0.3s ease 0s
}

.btn-blue:hover {
    background: #7FB3D5;
    transform: scale(1.1);
    box-shadow: rgb(159 159 193 / 54%) 0px 10px 19px 0px;
    border-color: #7FB3D5;
}

.channalform .Title {
    padding: 10px 10px;
    display: inline;
    background: #f9f8f6;
    font-size: 13px;
    outline: none;
    font-weight: 500;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    margin: 8px 0;
    font-family: 'Inter', sans-serif;
    box-shadow: rgb(99 99 99 / 8%) 0px 2px 8px 0px;
}

.question-body {
    padding:0 44px;
    padding-top: 20px;
}