/* .complants {
    width: 100%;
    height: 50px;
    display: inline-flex;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    padding: 10px 40px;
    border: 1px solid #e06358;
    outline: none;
    border: 2px solid transparent;
    background: #e06358;
    color: var(--white-bg);
    border-radius: 10px;
}

.complants:hover {
    background: transparent;
    color: #e06358;
    border: 2px solid #e06358;
    transition: all .3s ease;
} */