.thread-view-comment-wrapper>span {
    background: #7FB3D5;
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
}

.eye-icon,
.chat-icon {
    margin: 0px 5px;
}

.threads-left-section-wrapper {
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0px;
    transition: all 0.15s ease 0s, filter 0.3s ease 0s;
    cursor: pointer;
}

.threads-left-section-wrapper:hover {
    box-shadow: rgb(159 159 193 / 54%) 0px 10px 19px 0px;
    transform: scale(0.98);
}

.trending-questions-wrapper .list-group-item {
    border: none;
}

.blink {
    animation: blinker 1s step-end infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.trending-label {
    color: #FA8072;
}

.threads-left-section-wrapper.p-4.mb-5 a {
    color: #2E86C1;
}

.btn-color {
    background-color: #F7DC6F;
}

.threads-container .rounded-pill {
    background-color: #7FB3D5;
}